@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body{
  background-color: bisque;
}


.titulo{
  font-size: 20px;
  display: flex;
  
  
}


  .container{
    max-width: 1080px;
    margin: 0 auto; /* container no centro da página */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  header{
    background-color: rgb(22, 198, 131);
    width: 100%;
   padding: 5px;
  }

  .logo, .sociais{
    width: 25%;  /* determinando o tamanho do logo e sociais */
  }

  .logo img {
    width: 70px;
    cursor: pointer;
  }


  .menu{
    width: 50%; /* determinando o tamanho do menu */
    flex-wrap: wrap;
  }

  .menu nav a{
    color: #ffffff;
    text-decoration: none; /* removendo a linha que fica embaixo do link */
    padding-right: 50px;
    font-size: 18px;
    position: relative; /* definindo posição do traço */

  }

  .menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #FF2500 , #FF7100);
    position: absolute; /* definindo posição do traço */
    top: 25px;
    left: 0;  
    transition: width 0.5s;
    
  }

  .menu nav a:hover::after{
    width: 30px;

  }




  .sociais button{
    width: 35px;
    height: 35px ;
    background-image: linear-gradient(45deg, #FF2500 , #FF7100);
    border: none;
    margin-right: 10px; /* distancioamento de um icone para outro */
    border-radius: 5px;
    cursor: pointer;
  }

  .sociais button i{
    font-size: 20px;  /* os icones sao fontes que possuem as mesmas propriedades do css das fontes */
    color: #ffffff;
  }

  
  .container-cards{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 10%;
    
  }

  .cards{
    width: 300px;
    margin: 10px;
    background-color:white ;
    border-radius: 10px;
    transition: 0.4s;
  }

  .card-img img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .legenda h2{
    text-align: center;
    
  }

  .legenda p{
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
  }

  .card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }

  .card-footer button{
    width: 150px;
    background: black;
    border: 2px solid #FF7100;
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
    

  }

  .card-footer button a{
    text-decoration: none;
    color:#FF7100;
  }

  .card-footer button:hover{
      background-color: #ffffff;
      color:black;
      border: 2px solid black;
  }

  .cards:hover{
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
  }
